.read .story p {
  // line-height: 40pt ;
  // text-indent: 2.5em;
  margin-bottom: 40px !important;
  // line-height: 1.8px;
}
.read .story p img{
width: 100%;
border-radius: 12px;
}
.story p  br{
  display: none;
}

// p.clear{height: 2px; margin-bottom: 3px;}