.ql-snow .ql-editor pre.ql-syntax {
  background-color: #23241f;
  color: #f8f8f2;
  overflow: visible;
}
// .ql-snow .ql-editor pre {
//   white-space: pre-wrap;
//   margin-bottom: 5px;
//   margin-top: 5px;
//   padding: 5px 10px;
// }