@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Kanit:wght@200;300;400;500;600;700&family=Noto+Sans+Thai:wght@300;400&family=Nunito:wght@900&family=Sarabun:wght@200;300&display=swap');

body{
    // font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #5f5f5f;
    font-family: 'Kanit', sans-serif;
    // font-family: 'Nunito', sans-serif;
    // font-family: 'Noto Sans Thai', sans-serif;
    // font-weight: 600;
}
a{
	text-decoration: none;
	color: #5f5f5f;
}
.nv-title-center{
   font-size: 1.5rem;
   color: $second-blue;
//    font-weight: 600;
   text-align: center;
}

.nv-title-left{
   font-size: 30px;
   color: $second-blue;
//    font-weight: 600;
   text-align: left;
}
.nv-title{
    font-size: 30px;
   color: $second-blue;
   font-weight: 500;
}
.gray{
    color: #a9a9a9;
}
.fa-eye{
    color: #969696;
}

.fa-list{
    color: #9f9f9f;
}

.line-1{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-4{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-5{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-10{
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
