.nv-name{
    color:#1E2046;
    font-size: 18px;
}
.text-blue{
    color:#014d4f;
}
small{
    font-size: 13px;
}
.nv-username{
    font-size: 30px;
    font-weight: 300;
    // color: $primary-orange;
}
.contor-input{
    display: grid;
    grid-gap: 3px;
}
