.nv-box-white {
  position: relative;
  overflow: hidden;
}
.btn-g {
  display: flex;
  gap: 10px;
}
// .form-promotion{
//   display: flex;
//   justify-content: space-between;
// }
.use-promotion {
  display: flex;
  margin-top: 10px;
}
.check-promo {
  transform: translate(0px, -3px);
}
.input-name-ep {
  width: 100%;
}
.warning {
  font-size: 13px;
  color: red;
}
.option {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ffcb5c;
  border-radius: 7px;
}
.title {
  margin-left: 3px;
  color: #444349;
  font-size: 13px;
}
.option-active {
  background: #fff4dc;
}
.co-option {
  display: flex;
  gap: 10px;
}
.title-v {
  color: #8a8a8a;
  font-size: 13px;
}
.texterr {
  color: red;
}
.ql-editor {
  font-size: 20px !important;
}
.con_date_time {
  display: flex;
  gap: 20px;
}
.box-read {
  padding: 0px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.f-box {
  position: relative;
}
.lengthText {
  position: absolute;
  right: 15px;
  top: 5px;
}
.con-to {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  // flex-direction: column;
}
li{
  
  list-style: auto;

}
.todey {
  background: #f4ba40;
  padding: 5px 10px;
  border-radius: 3px;
  font-family: "Sarabun", sans-serif;
  color: #fff;
  font-size: 13px;
}
.co-option-time {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  font-family: Sarabun, sans-serif;
}
.option-time {
  padding: 20px;
  border: 2px solid #ffc54c;
  font-size: 18px;
  background: #fbc24b;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
}
.option-time:hover {
  // background: #fbc24b;
  background: #fff3d9;
  color: #ffc54c;
}
