.ql-snow .ql-editor pre.ql-syntax {
  background-color: #23241f;
  color: #f8f8f2;
  overflow: visible;
}
.contain-btn-listview{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
      // justify-content: center;
    margin-top: 20px;
}
#nv-tag0{
  border: 2px solid #e4803a;
  background: #f9f1e5;
  color: #e4803a;
}
.mobile-view-star{
 display: none; 
}
.pc-view-star{
  display: flex;
  align-items: center;
  justify-content: end;
}
.contain-starview{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.img-novel {
  height: 150%;
  // box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
  //   rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.img-profile-box {
  position: relative;
  display: flex;
}
figure {
  width: intrinsic;
}
.box-tag{
  padding: 0px 10px;
border: 2px solid #d3d3d3;
border-radius: 50px;
color: #7e7e7e;
cursor: pointer;
font-size: 14px;
}

.image-profile-user {
  height: 50px;
  width: 50px;
  border: 2px solid #2164c5;
  display: flex;
  border-radius: 50%;
  align-items: center;
}
.nv-box-tag {
  padding: 40px 40px;
  background: #ffffff;
  border-radius: 15px;
  margin: 0px 150px;
  margin: auto;
  margin-top: 40px;
  max-width: 1050px;
  position: relative;
}
.nv-box-white.contain-tage{
  margin: 0px 0px !important;
  padding: 0px 0px !important;

}
.contain-tage{
  // position: absolute;
  display: flex;
  // flex-wrap: wrap;
  // grid-template-columns:;
  // background-color: #000000;
  // float: ;

  // flex-direction: row;
  // width: 100%;
  // justify-content: space-between;
  // height: 1000px;
}
.tag-novel{
  display: flex;
  // float: left;
  width: fit-content;

  padding: 0px 10px;
  border: 2px solid #d3d3d3;
  background-color: #f6f6f6;
  border-radius: 50px;
  color: #7e7e7e;
  // width: 100px;
  text-align: center;
  font-size: 14px;
  margin: 5px;
  // top: 10px;
  // gap: 100px;
  // margin-bottom: 10px;
  // display: grid;
  // grid-template-columns: auto auto;
  
}
.grey{
  color: #b2b2b2;
}
.writer-profile {
  display: grid;
  grid-template-columns: auto 3fr auto;
}
.mobile-follow {
  display: none;
}
.eye-icon-sarabun {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.writer-release {
  display: grid;
  grid-template-columns: 1fr;
}

.box-nove {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-gap: 30px;
  /* background: linear-gradient(rgb(0,0,0), yellow); */
}
// .con-Sarabun{
//   // padding: 20px 0px;
//   // transition: 1s;
//   background: #ffffff00;
// }
.detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  grid-gap: 10px;
}
.grud-btn {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}
.story {
  position: relative;
  margin: 10px 0px;
  overflow: hidden;
  transition: 0.3s;
  font-family: "Sarabun", sans-serif;
  font-size: 16px;
  color: #727272;
}
.image-nv {
  // display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  // background-color: rgba($color: #db949418, $alpha: 0.1);
}
.image-box {
  position: relative;
  display: flex;
  justify-content: center;
}
.ade {
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 5%,
    rgba(255, 255, 255, 0.6) 5%,
    rgb(255, 255, 255) 65%
  );
  height: 50px;
  margin-top: -50px;
  width: 100%;
  position: absolute;
}
.buy {
  border: 0px solid #000000;
}
.layout-pc-titleview {
  display: grid;
  width: 100%;
  // justify-content: space-between;
  grid-template-columns: 4fr 1fr;
}
.view-list {
  align-items: start;
  // margin-top: 15px;
}
.box-review {
  display: grid;
  padding: 15px 0px;
  padding-bottom: 30px;
  grid-template-columns: 1fr;
  border-top: 1px solid #61bcbe;
  background: #fff;
  grid-gap: 10px;
}
.review-profile {
  display: flex;
  align-items: flex-start;
  grid-gap: 10px;
  justify-content: space-between;
}
.re-profile {
  border: 1px solid #d0d0d0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #e0e0e0;
}

.size-view {
  font-size: 16px;
}
.story-sub {
  border-top: 1px solid #61bcbe;
  padding-top: 10px;
  font-family: "Sarabun", sans-serif;
  color: #727272;
}
// @keyframes glowing {
//   0% { box-shadow: 0 0 -10px #61BCBE; }
//   40% { box-shadow: 0 0 20px #61BCBE; }
//   50% {
//     transform: scale(1) perspective(1px)
//   }
//   60% { box-shadow: 0 0 20px #61BCBE; }
//   100% { box-shadow: 0 0 -10px #61BCBE; }
// }

// .button-glow {
//   animation: glowing 3000ms infinite;
// }
.button-glow {
  position: relative;
  display: block;
  // width: 40px;
  // height: 40px;
  // font-size: 40px;
  // margin:50px auto 0;
  border: 2px solid #eb5454;
  background-color: #eb5454;
  color: white;
  // -webkit-animation: ring 5s .7s ease-in-out infinite;
  // -webkit-transform-origin: 50% 4px;
  // -moz-animation: ring 5s .7s ease-in-out infinite;
  // -moz-transform-origin: 50% 4px;
  // animation: ring 5s .7s ease-in-out infinite;
  // transform-origin: 50% 4px;
}

// @-webkit-keyframes ring {
//   0% { -moz-transform: rotate(0); }
//   1% { -moz-transform: rotate(30deg); }
//   3% { -moz-transform: rotate(-28deg); }
//   5% { -moz-transform: rotate(34deg); }
//   7% { -moz-transform: rotate(-32deg); }
//   9% { -moz-transform: rotate(30deg); }
//   11% { -moz-transform: rotate(-28deg); }
//   13% { -moz-transform: rotate(26deg); }
//   15% { -moz-transform: rotate(-24deg); }
//   17% { -moz-transform: rotate(22deg); }
//   19% { -moz-transform: rotate(-20deg); }
//   21% { -moz-transform: rotate(18deg); }
//   23% { -moz-transform: rotate(-16deg); }
//   25% { -moz-transform: rotate(14deg); }
//   27% { -moz-transform: rotate(-12deg); }
//   29% { -moz-transform: rotate(10deg); }
//   31% { -moz-transform: rotate(-8deg); }
//   33% { -moz-transform: rotate(6deg); }
//   35% { -moz-transform: rotate(-4deg); }
//   37% { -moz-transform: rotate(2deg); }
//   39% { -moz-transform: rotate(-1deg); }
//   41% { -moz-transform: rotate(1deg); }

//   43% { -moz-transform: rotate(0); }
//   100% { -moz-transform: rotate(0); }
// }

// @-moz-keyframes ring {
//   0% { -moz-transform: rotate(0); }
//   1% { -moz-transform: rotate(30deg); }
//   3% { -moz-transform: rotate(-28deg); }
//   5% { -moz-transform: rotate(34deg); }
//   7% { -moz-transform: rotate(-32deg); }
//   9% { -moz-transform: rotate(30deg); }
//   11% { -moz-transform: rotate(-28deg); }
//   13% { -moz-transform: rotate(26deg); }
//   15% { -moz-transform: rotate(-24deg); }
//   17% { -moz-transform: rotate(22deg); }
//   19% { -moz-transform: rotate(-20deg); }
//   21% { -moz-transform: rotate(18deg); }
//   23% { -moz-transform: rotate(-16deg); }
//   25% { -moz-transform: rotate(14deg); }
//   27% { -moz-transform: rotate(-12deg); }
//   29% { -moz-transform: rotate(10deg); }
//   31% { -moz-transform: rotate(-8deg); }
//   33% { -moz-transform: rotate(6deg); }
//   35% { -moz-transform: rotate(-4deg); }
//   37% { -moz-transform: rotate(2deg); }
//   39% { -moz-transform: rotate(-1deg); }
//   41% { -moz-transform: rotate(1deg); }

//   43% { -moz-transform: rotate(0); }
//   100% { -moz-transform: rotate(0); }
// }

// @keyframes ring {
//   0% { transform: rotate(0); }
//   1% { transform: rotate(30deg); }
//   3% { transform: rotate(-28deg); }
//   5% { transform: rotate(34deg); }
//   7% { transform: rotate(-32deg); }
//   9% { transform: rotate(30deg); }
//   11% { transform: rotate(-28deg); }
//   13% { transform: rotate(26deg); }
//   15% { transform: rotate(-24deg); }
//   17% { transform: rotate(22deg); }
//   19% { transform: rotate(-20deg); }
//   21% { transform: rotate(18deg); }
//   23% { transform: rotate(-16deg); }
//   25% { transform: rotate(14deg); }
//   27% { transform: rotate(-12deg); }
//   29% { transform: rotate(10deg); }
//   31% { transform: rotate(-8deg); }
//   33% { transform: rotate(6deg); }
//   35% { transform: rotate(-4deg); }
//   37% { transform: rotate(2deg); }
//   39% { transform: rotate(-1deg); }
//   41% { transform: rotate(1deg); }

//   43% { transform: rotate(0); }
//   100% { transform: rotate(0); }
// }
.text-review {
  font-size: 17px;
  /* color: #565656; */
  margin-left: 60px;
  font-family: "Sarabun", sans-serif;
}
.review-detail {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-gap: 40px;
}
.re-star {
  margin-right: 18px;
}
.re-name {
  font-size: 13px;
}
.pc {
  width: 100%;
  // margin-top: 5px;
  cursor: pointer;
}
.pc:hover {
  background: #f0f0f0bb;
  border-radius: 5px;
}
.box-price_range {
  background: #6a70aa;
  display: flex;
  color: #fff;
  justify-content: space-between;
  padding: 20px 20px;
  border-radius: 5px;
  margin: 1px 0px;
  animation-name: example;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  cursor: pointer;
  transform: scaleY(0);
}
.box-price_range:hover {
  background: #5d6291;
  box-shadow: rgba(118, 90, 182, 0.8) 0px 3px 8px;
  transition: ease-in all 0.2s;
}
.blink_me {
  box-shadow: rgba(240, 46, 46, 0.4) 5px 5px, rgba(240, 46, 46, 0.3) 10px 10px;
  animation-name: animation;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
  background-color: #eb5454;
  border: #eb545400 solid 2px !important;
  // animation: blinker 1s linear infinite;
}

@-webkit-keyframes animation {
  0% {
    background-color: #e65b29;
  }
  50.0% {
    background-color: red;
  } /* your chosen 'mid' color */
  100.0% {
    background-color: #e65b29;
  }
}

@keyframes animation {
  0% {
    background-color: #ff4500;
  }
  50.0% {
    background-color: red;
  }
  100.0% {
    background-color: #ff4500;
  }
}

@keyframes example {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
.nv-tag{
  cursor: pointer;
}
/* .box-price_range:hover {
  transform: scale(1.01);
  background: #61bcbed2;80px
} */
$bodercolor : #79dddf;
.ep {
  display: grid;
  grid-template-columns: 45% 70px 1fr 140px 70px 70px 80px;
  padding: 20px;
  border-bottom: 1px solid $bodercolor;
  padding: 0px 10px 0px 10px;
  justify-items: center;
  align-items: center;
  
  padding: 20px;
}
.container-ep0 .ep0{
  border-top: 1px solid $bodercolor;
  // background: ;
}
.ep-top-none{
  border-top: 0px solid $bodercolor !important;
}
.nameitemep{
  width: 100%;
}
.ep49{
  border-bottom: 0px solid $bodercolor;
}
.ep-line{
  border-bottom: 1px solid $bodercolor;
  // border-bottom: 1px solid #61bcbe;
}
.detail-ed {
  display: grid;
  width: 530px;
  // align-items: center;
  // grid-template-columns: 1fr auto 1.5fr 2.5fr 1fr 1fr;
  grid-template-columns: 1fr  1.2fr 1.2fr 2.5fr   1fr 1fr;
}
.discount-coin{
  text-align: end;
  -webkit-text-decoration-line: line-through; /* Safari */
  text-decoration-line: line-through; 
  color: red;
  display: flex;
  align-items: center;
  justify-content: end;
}

.count-coin {
  margin-left: 5px;
  color: #febc2a;
}
.con-coin {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-ep {
  display: none;
  flex-direction: column;
  
}
.column-reverse{
  flex-direction: column-reverse !important
}
.fa-chevron-right {
  transition: 0.3s;
}
.fa-chevron-right-show{
  transform:rotate(90deg)
}
.writer-sarabun {
  display: flex;
  margin-top: 10px;
  // justify-content: space-between;
}
.nv-box-writer {
  background: rgba(230, 222, 255, 0);

  border-radius: 15px;
  // margin: 0px 150px;
  // margin: auto;
  margin-top: 40px;
  max-width: 1130px;
}

.writer-detail {
  display: flex;
  align-items: center;
  grid-gap: 15px;
}

.bg-writer-release {
  // background-color: white;
  // border-radius: 12px;
  padding: 0px 15px 15px;
  // border: #61bcbe 1px solid;
  margin: -5px;

  // padding: 15px 15px 15px 40px;
}
.line {
  border-right: 2px solid #ffb527;
}

.nv-box-white .bg-writer-info {
}

.bg-writer-info {
  // background-color: white;
  // border-radius: 12px;
  padding: 0px 15px 15px;
  // border: #61bcbe 1px solid;
  // margin: -5px;
  // padding: 15px 15px 15px 40px;
}

.writer-detail .nv-btn-orange {
  width: fit-content;
  display: flex;
  justify-content: start;
  margin: 10px 0px 0px 70px;
}

.con-review {
  display: flex;
  align-items: center;
}
.img-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #565656;
}
.con-profile {
  display: flex;
  grid-gap: 10px;
  align-items: center;
}
.name-review {
  display: flex;
  align-items: center;
  // font-size: 18px;
}
.date{
  font-size: 14px;
}
.review-date {
  font-size: 13px;
  display: flex;
  align-items: center;
  grid-gap: 10px;
}
.in-review-detail {
  display: flex;
  align-items: center;
  grid-gap: 5px;
}
.fa-thumbs-up {
  margin-top: -1px;
}
.fa-ellipsis-v {
  font-size: 13px;
}
.sarabun {
  margin-bottom: 20px;
}
.tab-ser {
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  border-radius: 5px;
  padding: 0px;
  overflow: hidden;
  border: 2px solid #ffffff;
}
.se {
  padding: 15px 0px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active {
  background: #737192;
  border-radius: 5px;
  color: #fff;
}
.dash {
  padding: 0px;
  overflow: hidden;
}
.active-cheer {
  background: #eb5454;
  border-radius: 5px;
  color: #fff;
}

#sortMomentEp {
  display: flex;
  flex-direction: column;
}
.NovelEditterComment {
  padding: 0px;
}
.title-com {
  padding: 10px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  background: #6a70aa;
  border-radius: 10px 10px 0 0;
}
.text-editer {
  border-radius: 0 0 10px 10px !important;
}
.mobile {
  display: none;
}
.more {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 100px;
  background: #1e2046;
  text-decoration: none;
  align-items: center;
  border-radius: 5px;
  color: #fff;
}
.more:hover {
  box-shadow: #1e2046 0px 3px 10px 0px;
}
.activat-m{
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #96969600;
}

::-webkit-scrollbar-thumb {
  background: #bfbfbf7d;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8484849e;
}
.box-price_range0{
  display: none;
}
.nv-box-white-contain-tags {
  padding: 10px 30px;
  background: #ffffff;
  border-radius: 15px;
  margin: 0px 150px;
  margin: auto;
  // overflow-y: scroll;
  height: 50px;
  transform: translate(0px,-23px);
  max-width: 1050px;
}
.Comments {
  padding: 25px;
  border-radius: 7px;
  margin-top: 5px;
}
.paginate {
  margin: 20px 0px;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.ep-activate{
  background:#e3e6ff; color: #6a70aa;
  border-radius: 6px;
}
.writer-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.mobile-view {
  display: none;
}
.linecut{
  position: absolute;
  border: 1px solid red;
  width: 100%;
  // transform: translate(0px,0px);
  z-index: 10;
}.count_character{
  display: block;
  font-size: 13px;
}
.fa-share{
   font-size: 19px
}
.box-price_range_show{
  display: flex;
}
.container-ep-show{
  display: flex;
}
.box-price_range_none{
  display: none;
}
@media (max-width: 1025px) {
  .ep{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 70px 70px 150px 70px 70px;
}
  .count_character{
    display: none;
  }
//   .ep{
//     padding: 10px;
//   }
//   .con-coin {
//     // width: 0px; 
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
// }
//   .con-h {
//     display: flex;
//     justify-content: space-between;
//     width: 100%;
// }
//   .pc-view {
//     display: none;
//   }
  .mobile {
    display: none;
    grid-template-columns: 1fr;
    gap: 10px;
  }
//   .pc{
//     display: none;
//   }
  .box-nove {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    align-items: start;
  }
  .bg-writer-info {
    margin-left: 0px;
  }
  .nv-box-white > .bg-writer-info {
    margin: 0px;
  }
  /* .image-nv img {
    width: 40%;
  } */
  // .mobile{
  //   display: none;
  // }
}
@media (max-width: 768px) {
  .nv-box-white-contain-tags {
    padding: 10px;
    
  }
  .bg-editor-comments {
    border-radius: 12px;
  }
  .box-nove {
    align-items: start;
  }
  .detail-ed {
    display: grid;
    width: 450px;
    // grid-template-columns: 1fr auto 1.5fr 2.5fr 1fr 1fr;
    grid-template-columns: 1fr 1.2fr 1.2fr 2.5fr 1fr 1fr;
  }
  .writer-detail .nv-btn-orange {
    width: fit-content;
    display: flex;
    justify-content: start;
    margin: 10px 0px 0px 65px;
  }

  // .detail-ed {
  //   display: none;
  // }
  // .mobile {
  //   display: grid;
  //   grid-template-columns: 1fr;
  //   gap: 10px;
  // }

  // .con-h {
  //   display: flex;
  //   justify-content: space-between;
  // }
  // .con-coin {
  //   width: auto;
  // }
  // .ep {
  //   display: grid;
  //   grid-template-columns: 1fr;
  //   gap: 10px;
  //   padding: 10px 10px;
  //   // grid-template-columns: 1fr;
  // }
  // .date {
  //   font-size: 12px;
  // }
  // .pc {
  //   display: none;
  // }
}
@media (max-width: 550px) {
  .linecut{
    position: absolute;
    border: 1px solid red;
    width: 90%;
    // transform: translate(0px,-2px);
    z-index: 10;
    
  }
  .layout-pc-titleview {
    display: grid;
    width: 100%;
    // justify-content: space-between;
    grid-template-columns: auto;
  }
  .mobile-view-star{
    display: contents;
  }
  .pc-view-star{
    display: none;
  }
  
  .discount-coin-m{
    margin-right: 10px;
    // display: flex;
    color: red;

    align-items: center;
  }


  .view-list {
    align-items: start;
    margin-top: 0px;
  }
  .writer-release {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .mobile-view {
    justify-content: center;
    display: inline-flex;
  }
  .pc-view {
    display: none;
  }

  .line {
    border-right: 0px solid #ffb527;
    border-bottom: 2px solid #ffb527;
  }

  .writer-detail {
    margin-top: 0px;
  }
  .writer-info {
    display: grid;
    grid-template-columns: 1fr;
  }
  .writer-sarabun {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1fr;
  }
  .nv-img-novel {
    // border-radius: 0px !important;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: 40% !important;
  }

  .box-nove {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  /* .image-nv img {
    width: 70%;
  } */
  .text-review {
    font-size: 17px;
    /* color: #565656; */
    margin-left: 0px;
  }
  .grud-btn {
    justify-content: center;
    width: 100%
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // width: 100%;
    // position: fixed;
    // align-items: center;
    // left: 0px;
    // bottom: 0px;
    // z-index: 10;
    // justify-content: space-between;
    // grid-gap: 0px;
  }
  .share {
    display: none;
  }
  .Novel-mobile {
    border-radius: 0px;
    text-align: center;
    padding: 10px 0px;
    width: 100%;
    z-index: 9000;
  }
  .cover-novel {
    padding: 35px 0px;
    padding-top: 0px !important;
  }
  .detail {
    padding: 0px 15px;
  }
  // .image-nv{
  // 	height: 350px;
  // 	    background: #cdcdcd;
  // }
  .image-nv img {
    // display: flex;
    // height: 550px;
    // width: 100%;
    // object-fit: cover;
    // background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  }
  .in-review-detail {
    display: none;
  }
  .Comments {
    padding: 10px;
    margin-top: 5px;
    // margin-top: 0px;
  }
  .title-com {
    border-radius: 0;
    font-size: 16px;
  }
  .text-editer {
    border-radius: 0 inherit;
  }
  .con-Sarabun {
    padding: 20px 0px;
    transition: 1s;
  }
  .sarabun {
    padding: 0px 10px;
  }
  .box-price_range {
    margin: 1px 0px;
    border-radius: 0px;
  }

  .buy-novel-ep-auto .dagod {
    width: 60% !important;
  }
  // .detail-ed {
  //   display: none;
  // }
  .mobile {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .writer-detail .nv-btn-orange {
    width: fit-content;
    display: flex;
    justify-content: start;
    margin-left: 70px;
  }
  .con-h {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .con-coin {
    width: auto;
  }
  .ep {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px 10px;
  }
  .date {
    font-size: 14px;
  }
  .pc {
    display: none;
  }
  .NovelEditterComment {
    padding: 0px;
    // margin-bottom: 40px;
  }
  .image-nv {
    // padding-top: 20px;
  }
}

@media (max-width: 415px) {
  .image-nv {
    display: block;
    // justify-content: center;
    // align-items: center;
    // position: relative;
    // background-color: rgba($color: #db949418, $alpha: 0.1);
  }
  .writer-release {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .line {
    border-right: 0px solid #ffb527;
    border-bottom: 2px solid #ffb527;
  }

  .writer-detail {
    margin-top: 0px;
  }
  .writer-info {
    display: grid;
    grid-template-columns: 1fr;
  }
  .writer-sarabun {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1fr;
  }
  .nv-img-novel {
    // border-radius: 0px !important;
    // width: 200px !important;
  }

  .box-nove {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  /* .image-nv img {
    width: 70%;
  } */
  .text-review {
    font-size: 17px;
    /* color: #565656; */
    margin-left: 0px;
  }
  .grud-btn {
    justify-content: center;
    width: 100%
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // width: 100%;
    // position: fixed;
    // align-items: center;
    // left: 0px;
    // bottom: 0px;
    // z-index: 10;
    // justify-content: space-between;
    // grid-gap: 0px;
  }
  .share {
    display: none;
  }
  .Novel-mobile {
    border-radius: 0px;
    text-align: center;
    padding: 10px 0px;
    // width: 100%;
    z-index: 9000;
  }
  .cover-novel {
    padding: 35px 0px;
    padding-top: 0px !important;
  }
  .detail {
    padding: 0px 0px;
  }
  // .image-nv{
  // 	height: 350px;
  // 	    background: #cdcdcd;
  // }
  .image-nv img {
    // display: flex;
    // height: 550px;
    // width: 100%;
    // object-fit: cover;
    // background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  }
  .in-review-detail {
    display: none;
  }
  .nv-img-novel {
    // border-radius: 0px !important;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: 70% !important;
  }
  .Comments {
    padding: 10px;
    margin-top: 5px;
    // margin-top: 0px;
  }
  .title-com {
    border-radius: 0;
    font-size: 16px;
  }
  .text-editer {
    border-radius: 0 inherit;
  }
  .con-Sarabun {
    padding: 20px 0px;
    transition: 1s;
  }
  .sarabun {
    padding: 0px 10px;
  }
  .box-price_range {
    margin: 1px 0px;
    border-radius: 0px;
  }

  .buy-novel-ep-auto .dagod {
    // width: 60% !important;
  }
  // .detail-ed {
  //   display: none;
  // }
  .mobile {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .writer-detail .nv-btn-orange {
    width: fit-content;
    display: flex;
    justify-content: start;
    margin-left: 70px;
  }
  .con-h {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .con-coin {
    width: auto;
  }
  .ep {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px 10px;
  }
  .date {
    font-size: 12px;
  }
  .pc {
    display: none;
  }
  .NovelEditterComment {
    padding: 0px;
    // margin-bottom: 40px;
  }

  .pc-follow {
    display: none;
  }
  .mobile-follow {
    display: contents;
  }
  .follow-btn {
    display: flex;
    justify-content: end !important;
  }
  .follow-btn .nv-btn-orange {
    padding: 2px 5px !important;
    font-size: small !important;
  }
  .writer-profile {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto 2fr 1fr;
  }
}
// /img/coin-gold.png
.coinbg{
  background: url(~@/assets/images/coin-gold.png) center center/cover;
  width: 20px;
  height: 20px;
}
.coinbg-gray{
  background: url(~@/assets/images/coin-gray.png) center center/cover;
  margin-left: 5px;
  width: 20px;
  height: 20px;
}
.count-coin-gray{
  margin-left: 5px;
  color: #5f5f5f;
}